.ant-picker.css-dev-only-do-not-override-yp8pcc{
    height: 55px;
      width: 85%;
      display: flex;
      background-color: #f1f3f5;
   }

   .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
  }