.App {
  text-align: center;
  
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
 

}
#root{
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiBox-root.css-8atqhb{
  width: 90%;
  margin: auto;
}

.MuiBox-root.css-19kzrtu{
  padding: 0px;
}
.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root{
  text-align: start;
}
.MuiBox-root.css-k008qs{
width: 100%;
  
}
.css-1v8x7dw{
  margin-top: 5%;
}
.content1{
  background-color: rgb(248, 249, 250);
  max-width: 1170px;
    flex: 1 1 0%;
    margin: 30px 46px 0px;
}

.button-addemployee{
    
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.71429;
    text-transform: capitalize;
    font-family: "SVN-Sofia Pro Regular", "Public Sans", sans-serif;
    padding: 8px 22px;
    color: rgb(251, 253, 255) !important;
    background-color: rgb(0, 145, 255) !important;
    box-shadow: none;
    border-radius: 6px;
    height: 48px;
    font-size: 16px;
}
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    background-color: #f1f3f5;
  }




































